@import "../scss/variables.scss";
@import "../scss/utilities.scss";

.header {
    height: 34vh; 
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 1), 
        rgba($color-primary-dark, 1));
        /*url(../assets/img/bg.jpg);*/
    /* background-size: cover; */
    /* background-position: top; */ 
    position: relative; 
    
    &__logo {
        @include absoluteCenter();
        height: 24rem;
    }
}