<header class="header">
    <a routerLink="/" class="logo">Ghibli</a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item"><a routerLink="/" routerLinkActive="navigation__link__active" class="navigation__link">Movies</a></li>
        <li class="navigation__item"><a a routerLink="/peoples" routerLinkActive="navigation__link__active" class="navigation__link">Peoples</a></li>
        <li class="navigation__item"><a a routerLink="/locations" routerLinkActive="navigation__link__active" class="navigation__link">Locations</a></li>
        <li class="navigation__item"><a a routerLink="/species" routerLinkActive="navigation__link__active" class="navigation__link">Species</a></li>
        <li class="navigation__item"><a a routerLink="/vehicles" routerLinkActive="navigation__link__active" class="navigation__link">Vehicles</a></li>
      </ul>
    </nav>
</header>

<router-outlet></router-outlet>
