<h1 *ngIf="movie">{{ movie.title }}</h1>

<div *ngIf="movie">
    <h2>Description:</h2>
    <p >{{ movie.description }}</p>
    <h2>Director:</h2>
    <p>{{ movie.director }}</p>
    <h2>Producer:</h2>
    <p>{{ movie.producer }}</p>
    <h2>Score:</h2>
    <p>{{ movie.rt_score }}</p>
    <!--
    <p *ngFor="let people of peoples" >People: {{ people.name }}</p>
    <p *ngFor="let specie of species">species: {{ specie.name }}</p>
    <p *ngFor="let location of locations">locations: {{ location.name }}</p>
    <p *ngFor="let vehicle of vehicles">vehicles: {{ vehicle.name }}</p>
    -->
</div>
